---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Dokumentacja">
  <h2>Dokumentacja projektu</h2>

  <p>Opis architektury i komponentów robota.</p>

  <h3>System</h3>
  <ul>
    <li>STM32 Nucleo</li>
    <li>VL53L8 ToF</li>
    <li>Bluetooth RSSI</li>
  </ul>
</MainLayout>