---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Śledzik 🤖">
  <h2>Projekt robota Follow-Me</h2>

  <p>Robot transportowy podążający za użytkownikiem.</p>

  <h3>Status</h3>
  <ul>
    <li>✔️ Platforma: hoverboard</li>
    <li>✔️ STM32 + Nucleo</li>
    <li>🔄 Bluetooth follow</li>
  </ul>
</MainLayout>