---
import '../styles/global.css';
const {
  title,
  mainClass = "max-w-5xl mx-auto px-6 py-8",
} = Astro.props;
---

<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <header class="border-b">
    <div class="max-w-5xl mx-auto px-6 py-4">

        <!-- Góra: logo + nazwa -->
        <div class="flex items-center gap-4">
        <img src="/logo/Logo_v2.png" alt="Śledzik logo" class="w-[120px]" />
        <span class="text-xl font-bold">Śledzik 🤖</span>
        </div>

        <!-- Dół: menu -->
        <nav class="mt-4 flex gap-6 text-gray-700">
        <a href="/" class="hover:text-blue-500">Home</a>
        <a href="/docs" class="hover:text-blue-500">Dokumentacja</a>
        <a href="/blog" class="hover:text-blue-500">Devlog</a>
        </nav>

    </div>
    </header>

    <main class={mainClass}>
        <slot />
    </main>

    <footer>
      <hr />
      <p>© Krzysztof Olejnik</p>
    </footer>
  </body>
</html>
